{{!-- navigation bar --}}
<div class="container-fluid nav-style">
  <div class="nav-left">
    <a href="/">
      <img class="logo" src="/images/logo.png" alt="logo" />
    </a>
    <a href="/" class="nav-heading">Home</a>
    <a href="/" class="nav-heading">Movies</a>
    {{!-- href is the request url --}}
    <a href="/celebrities" class="nav-heading">Celebrities</a>
  </div>

  <div class="nav-middle">
  </div>

  <div class="nav-right">
    <div class="search-box">
      <input class="input-box"type="text" name="" placeholder="" />
      <img class="search-img" src="/images/search.png" alt="search" />
    </div>
  </div>
</div>

<h1 style="padding-top: 4rem">form to add a celeb</h1>